<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../header'); %>

    <main>
      <form action="/create" method="POST">
        <div class="container" style="padding: 50px; margin: 15px 15px">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >PX ID</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="PX ID"
              name="px_id"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Appointment Status</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Appointment Status"
              name="appt_status"
            />
          </div>
          <button type="submit" class="btn btn-outline-primary">Confirm</button>
        </div>
      </form>
    </main>
  </body>
</html>
